body{
	background-image: url('corgi.jpg');
}

#Header {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: center;
	color: black;
	font-size: 80px;
}


h3{
	color: black;
	font-size: 50px;
	font-family: "Arial";
	margin-bottom: 5px;
}

p {
	color: pink;
	font-family: "Passion One";
	font-size: 30px;

}

#LeftNav {
	float: left;
	width: 400px;
	border: white;
	text-align: center;
	background-color: yellow;
}
ul {
	list-style-type: none;
}

#Content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: solid 8px yellow;
	text-align: center;
	background-color: white;
	padding: 25px;
}

#bow{
	color: #FFBC00;
	font-size: 50px;
}

#Footer {
	text-align: center;
	border: solid 10px yellow;
	background-color: orange;
}
